* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    color: #1a202c;
    background-color: #FFFF;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: rgb(0, 120, 90);
    width: 100%;
  }
  
  .rightnav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logo {
    height: 40px;
    width: 180px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    background-color: rgb(0, 120, 90);
    width: 100%;
    height: 88px;
  }
  
  .rightnav {
    display: flex;
  }
  
  .logo {
    height: 40px;
    width: 180px;
  }
  
  #select {
    display: flex;
    margin-right: 16px;
    padding-left: 16px;
    padding-right: 16px;
    border-width: 1px;
    height: 2.5rem;
    min-width: 2.5rem;
    border-style: solid;
    background-color: rgb(0, 120, 90);
    position: relative;
    border-color: #e2e8f0;
    border-radius: 0.375rem;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    align-items: center;
  }
  
  #select:hover {
    background-color: #dd6b20;
  }
  
  #select i {
    font-size: 8px;
    margin-left: 10px;
    margin-right: 6px;
  }
  
  #dropdown {
    position: absolute;
    top: 70px;
    right: 80px;
    padding: 10px;
    height: 90px;
    width: 220px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #4c4c56;
    cursor: pointer;
  }
  
  .optionone {
    display: flex;
    gap: 8px;
    padding: 5px;
  }
  
  .optionone:hover {
    background-color: #606067;
  }
  
  .italy {
    width: 30px;
  }
  
  .it {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: rgb(255, 255, 255);
  }
  
  .optiontwo {
    display: flex;
    gap: 8px;
    padding: 7px;
  }
  
  .optiontwo:hover {
    background-color: #606067;
  }
  
  .uk {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  
  .en {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: rgb(255, 255, 255);
  }
  
  .login {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border: 1px solid #e2e8f0;
    margin: 0px 16px 0px 0px;
    padding-right: 16px;
    padding-left: 16px;
    font-weight: 600;
    height: 2.5rem;
    min-width: 2.5rem;
    border-radius: 6px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .login:hover {
    border-color: rgb(16, 16, 16);
  }
  
  .login a:hover {
    color: black;
  }
  
  .register {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    font-weight: 600;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0px 16px;
    background-color: #dd6b20;
    color: #ffffff;
  }
  
  .register {
    text-decoration: none;
    color: white;
  }
  
  .register:hover {
    color: black;
    background-color: #bb5612;
  }
  

.registerform {
    max-width: 28rem;
    margin-inline: auto;
    margin-top: 64px;
    text-align: start;
    padding: 15px;
    border: 1px solid rgb(238, 234, 234);
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);
}



.registerText {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 14px;
    color: #1a202c;
}

form{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-top: 10px;
}

.div1 {
    width: 100%;
    position: relative;
    margin-top: 3px;
}

.div1 label {
    display: block;
    font-size: 1rem;
    line-height: 24px;
    font-style: normal;
    margin-right: 12px;
    margin-bottom: 8px;
    font-weight: 400;
    font-style: normal;
}

.div2 {
    width: 100%;
    position: relative;
    margin-top:7px;
}

.div2 label {
    display: block;
    font-size: 1rem;
    margin-right: 12px;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 400;
}

.div3 {
    width: 100%;
    position: relative;
    margin-top: 7px;
}

.div3 label {
    display: block;
    font-size: 1rem;
    margin-right: 12px;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 400;
}

.div4 {
    width: 100%;
    position: relative;
    margin-top: 7px;
}

.div4 label {
    display: block;
    font-size: 1rem;
    margin-right: 12px;
    margin-bottom: 8px;
    font-weight: 400;
    font-style: normal;
}

.div5 {
    width: 100%;
    position: relative;
    margin-top: 8px;
}

.div5 label {
    display: block;
    font-size: 1rem;
    margin-inline-end: 0.75rem;
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-style: normal;
}

.fname {
    color: #f56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.lname {
    color: #f56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.emailerror {
    color: #f56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.password {
    color: #f56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.passworderror {
    color: #f56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.privacyerror {
    color: #f56565;
    position: relative;
    font-size: 14px;
    top: 6px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 1rem;
    height: 2.5rem;
    border: none;
    border: 1px solid #dedede;
    border-radius: 6px;
    opacity: 0.8;
}

.showpassword {
    position: relative;
}

.showpassword i {
    position: absolute;
    font-size: 10px;
    color: #2d2d2d;
    right: 17px;
    top: 16px;
    cursor: pointer;
}

.eyeicon {
    position: relative;
}

.eyeicon i {
    position: absolute;
    font-size: 10px;
    color: #2d2d2d;
    right: 17px;
    top: 16px;
    cursor: pointer;
}

.div6 {
    margin-top: 10.5px;
}

.checkbox {
    cursor: pointer;
}

.div6 span {
    cursor: pointer;
    font-weight: 300;
}

.div6 a {
    color: black;
    font-weight: 300;
}

.btn {
    margin-top: 20px;
    padding-inline-end: 1rem;
    padding-inline-start: 1rem;
    display: inline-flex;
    align-items: center;
    border-radius: 6px;
    background-color: #dd6b20;
    font-size: 1rem;
    border: none;
    color: #ffff;
    font-style: normal;
    font-weight: 600;
    height: 2.5rem;
    min-width: 2.5rem;
}

.box {
    margin-top: 15px;
    padding-top: 24px;
    border-width: 1px;
    border-top: 1px solid #e2e8f0;
}

.box a {
    color: rgb(0, 120, 90);
    text-decoration: none;
    font-weight: 300;
}

.footer-container {
    display: flex;
}

.footer {
    margin-top: 5rem;
    width: 100%;
    padding: 20px;
    background-color: rgb(0, 120, 90);
    font-style: normal;
}

.rows {
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.links li {
    list-style: none;
}

.links li a {
    font-size: 0.875rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
}

.links li a:hover {
    text-decoration: underline;
}
.copyright{
padding: 4px;
}

.copy {
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.support {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.supporttext {
    font-size: 14px;
    font-weight: 200;
}

.support li {
    list-style: none;
    color: white;
}

.info {
    font-size: 13px;
    padding-left: 30px;
    font-weight: 300;
}

.support li a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: 200;
    font-size: 14px;
    line-height: 21px;
    font-style: normal;
}

.support li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    main {
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px;
        gap: 0;
    }

    #select {
        padding: 8px 16px;
    }

    #dropdown {
        position: absolute;
        top: 50px;
        left: 0;
        width: 240px;
        height: 100px;
    }

    .button {
        margin-top: 15px;
    }

    form {
        width: 100%;
    }

    .footer {
        text-align: center;
        width: 100%;
    }

    .rows {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        text-align: start;
    }

    .supporttext {
        text-align: left;
    }

    .copyright {
        padding-top: 20px;
    }

    .info {
        padding-bottom: 10px;
    }
}