* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
    border-style: solid;
    border-width: 0px;

}

main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: rgb(0, 120, 90);
}

.rightnav {
    display: flex;

}

.logo {
    height: 40px;
    width: 180px;
}

#select {
    padding: 0 16px;
    background-color: rgb(0, 120, 90);
    position: relative;
    border: 1px solid rgb(240, 237, 237);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
}

#select:hover {
    background-color: #DD6B20;
}

#select i {
    opacity: 0.7;
}

#dropdown {
    position: absolute;
    top: 44px;
    left: 0;
    padding: 10px;
    height: 90px;
    width: 220px;
    font-size: 16px;
    border-radius: 8px;
    background-color: #4c4c56;
    cursor: pointer;
}

.optionone {
    display: flex;
    gap: 8px;
    padding: 5px;
}

.optionone:hover {
    background-color: #606067;
}

.italy {
    width: 30px;
}

.it {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.optiontwo {
    display: flex;
    gap: 8px;
    padding: 7px;

}

.optiontwo:hover {
    background-color: #606067;
}

.uk {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.en {
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    color: rgb(255, 255, 255);
}

.login {
    padding: 0px 16px;
    margin: 0px 16px;
    border: 1px solid rgb(240, 237, 237);
    border-radius: 6px;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    background-color: rgb(0, 120, 90);
    cursor: pointer;
}

.login a {
    text-decoration: none;
    color: white;
}

.login:hover {
    border-color: rgb(16, 16, 16);

}

.login a:hover {
    color: black;
}

.register {
    padding: 0px 16px;
    background-color: #DD6B20;
    border: none;
    color: white;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
}

.register a {
    text-decoration: none;
    color: white;
}

.register:hover {
    color: black;
    background-color: #bb5612;
}


.registerform {
    max-width: 28rem;
    margin-inline: auto;
    margin-top: 4rem;
    padding: 1rem;
    border-width: 1px;
    border: 1px solid #dbdbdb;
    text-align: left;
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    display: flex;
    flex-direction: column;
}

.registerText {
    font-size: 1.875rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: #1a202c;
}


.div1 {
    width: 100%;
    position: relative;
    margin-top: 0.2rem;
}

.div1 label {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 32, 44);
    letter-spacing: 0.2px;
}

.div2 label {
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin-inline-end: 0.75rem;
    color: rgb(26, 32, 44);
}

.div3 label {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 32, 44);
}

.div4 {
    position: relative;
}

.div4 label {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 32, 44);
}

.div5 label {
    font-size: 1rem;
    font-weight: 400;
    color: rgb(26, 32, 44);
}

.fname {
    color: #F56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.lname {
    color: #F56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.emailerror {
    color: #F56565;
    ;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.password {
    color: #F56565;
    ;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.passworderror {
    color: #F56565;
    font-size: 14px;
    bottom: 10px;
    position: relative;
}

.privacyerror {
    color: #F56565;
    position: relative;
    font-size: 14px;
    top: 6px;
}

input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-weight: 200px;
    font-size: 1rem;
    height: 2.5rem;
 padding-inline-start:1rem; 
    padding-inline-end: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    border: 1px solid #dedede;
    border-radius: 6px;
    opacity: 0.8;
}

.showpassword {
    position: relative;
}

.showpassword i {
    position: absolute;
    font-size: 10px;
    color: #2d2d2d;
    right: 15px;    
    top: 25px;
    cursor: pointer;
}

.eyeicon {
    position: relative;
}

.eyeicon i {
    position: absolute;
    font-size: 10px;
    color: #2d2d2d;
    right: 15px;
    top: 25px;
    cursor: pointer;
}

.div6 {
    text-align: left;
    position: relative;
    font-weight: 300;

}

.checkbox {
    cursor: pointer;
    width: 13px;
}

.div6 span {
    cursor: pointer;
}

.div6 a {
    color: black;
}

.btn {
    align-items: center;
    margin: 16px 0px 0px;
    height: 2.5rem;
    padding-inline-start: 1.1rem;
    padding-inline-end: 1.1rem;
    font-size: 1rem;
    border-radius: 4px;
    text-align: center;
    border: none;
    color: white;
    background-color: #DD6B20;
    cursor: pointer;
}

.box {
    margin-top: 18px;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hr {
    border: 1px solid #cdcfd5;

}

.account {
    color: rgb(0, 120, 90);
    text-decoration: none;
}

.footer-container {
    display: flex;
}

.footer {
    margin-top: 3rem;
    width: 100%;
    padding: 1.25rem;
    background-color: rgb(0, 120, 90);
}

.rows {
    display: flex;
    justify-content: space-between;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.links li {
    list-style: none;
}

.links li a {
    font-size: 0.875rem;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 200;
}

.links li a:hover {
    text-decoration: underline;
}

.copy {
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.support {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.supporttext {
    font-size: 14px;
    font-weight: 200;
}

.support li {
    list-style: none;
    color: white;
}

.info {
    font-size: 14px;
    padding-left: 30px;
    font-weight: 200;
}

.support li a {
    color: white;
    font-size: 14px;
    font-weight: 200;
    text-decoration: none;
    cursor: pointer;
}

.support li a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 600px) {

    body {
        display: flex;
        height: 100vh;
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        padding: 24px;
        gap: 0;
    }

    #select {
        padding: 8px 16px;
    }

    #dropdown {
        position: absolute;
        top: 10px;
        left: 5px;
        width: 200px;
        height: 90px;
    }

    .button {
        margin-top: 15px;
    }

    form {
        width: 100%;
    }

    .footer {
        text-align: center;
        width: 100%;
    }

    .rows {
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        text-align: start;
    }

    .supporttext {
        text-align: left;
    }

    .copyright {
        padding-top: 20px;
    }

    .info {
        padding-bottom: 10px;
    }

}

